@model Projet_Tech_Pag_Con.Models.ExecutionMethode

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - RFID Tunnel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://livetechspot.com/wp-content/uploads/2020/07/Complete-Guide-List-on-How-to-Optimize-E-commerce-Website.jpg');
            background-size: cover;
            background-position: center;
            color: #333;
        }

        .container {
            max-width: 1000px;
            margin: 40px auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        h1, h2 {
            text-align: center;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        .section {
            margin-bottom: 30px;
        }

            .section img {
                width: 100%;
                border-radius: 10px;
                margin-bottom: 15px;
            }

            .section p {
                font-size: 1.1em;
                line-height: 1.6;
            }

        .row {
            margin-bottom: 15px;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin-left: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome @ViewBag.UserName.Split('@')[0]</h1>

        <div class="section">
            <h2>Présentation du Projet</h2>
        </div>

        <div class="section">
            <h2>Avantages de la Technologie RFID</h2>
            
        </div>

        <div class="section">
            <h2>Défis Rencontrés</h2>
            
        </div>

        <div class="section">

        </div>
        
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
