<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Web</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://livetechspot.com/wp-content/uploads/2020/07/Complete-Guide-List-on-How-to-Optimize-E-commerce-Website.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: grey; /* Changement de couleur du texte en blanc pour une meilleure lisibilité */
            font-family: Arial, sans-serif;
        }

        .menu {
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 100%;
        }

            .menu ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .menu ul li {
                    display: inline-block;
                    margin-right: 20px;
                }

                    .menu ul li a {
                        color: white;
                        text-decoration: none;
                    }

        .content {
            text-align: center;
            margin-top: 50px; /* Espacement du contenu par rapport au menu */
        }

        h1 {
            font-size: 2em; /* Taille de la police */
            text-align: center; /* Centrage horizontal */
            margin-bottom: 20px; /* Espace sous le titre */
            justify-content: center;
        }

        form {
            margin-top: 30px; /* Espacement du formulaire par rapport au contenu */
            text-align: center;
        }

        select {
            padding: 10px;
            font-size: 1em;
            margin-top: 10px; /* Espacement entre le formulaire et le select */
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff; /* Couleur de fond du bouton */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
        }

            button[type="submit"]:hover {
                background-color: #0056b3; /* Changement de couleur au survol */
            }
    </style>
</head>
<body>
    <h1 class="welcome-title">BIENVENUE SUR VOTRE SITE DE GESTION LOGISTIQUE</h1>
    <div class="import-section">
        <form method="get" action="">
            <label for="file">Choisissez le fichier à traiter </label>
            <input type="file" id="file" name="file">
            <input type="submit" value="Importer">
        </form>
    </div>
    <ul class="Menu">
        <li>
            <input type="checkbox" id="checkbox-Analytique" name="method" value="Analytique" onclick="showForm('Analytique')">
            <label for="checkbox-Analytique">Méthode Analytique</label>
            <div id="form-container-Analytique" class="form-container">
                <form asp-action="Analiz" method="post">
                    <!-- Formulaire pour Analytique -->


                    <div class="conteneur-bouton">

                        <button type="submit" class="bouton-envoyer">Valider</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="result">
                    @if (ViewBag.Result != null)
                    {
                        <h4>Result:</h4>
                        <pre>@Html.Raw(ViewBag.Result)</pre>
                    }
                </div>
            </div>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-KNN" name="method" value="KNN" onclick="showForm('KNN')">
            <label for="checkbox-KNN">Méthode KNN</label>
            <div id="form-container-KNN" class="form-container">
                <form asp-action="KNN" method="post">
                    <!-- Formulaire pour KNN -->
                    <div>
                        <label for="Param1">n_neighbors</label>
                        <p>Le nombre de voisins à considérer lors de la prédiction</p>
                        <select id="param2" name="param2">
                            <option value=20>Maximum:20</option>>
                            <option value=1>Minimum:1</option>

                            <option value=3>Default:3</option>
                        </select>



                    </div>
                    <div>
                        <label for="Param2">weights</label>
                        <p>La méthode utilisée pour pondérer les voisins</p>
                        <select id="param2" name="param2">
                            <option value="max">Uniforme</option>
                            <option value="min">Ideal: Distance</option>

                        </select>

                    </div>
                    <div>
                        <label for="Param3">metric</label>
                        <p> La mesure de distance utilisée pour calculer la proximité entre les points.</p>
                        <select id="param2" name="param2">
                            <option value="max">Euclidienne</option>
                            <option value="min">Minkowski</option>
                            <option value="ideal">Ideal:Manhattan</option>
                        </select>

                    </div>
                    <div>
                        <label for="Param3">Nombre de plis pour validation croisée</label>
                        <select id="param2" name="param2">
                            <option value="max">5</option>
                            <option value="min">6</option>
                            <option value="ideal">7</option>
                            <option value="max">8</option>
                            <option value="min">9</option>
                            <option value="ideal">10</option>
                        </select>

                    </div>
                    <div class="conteneur-bouton">
                        <button type="submit" class="bouton-envoyer">Valider</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-RandomForest" name="method" value="RandomForest" onclick="showForm('RandomForest')">
            <label for="checkbox-RandomForest">Méthode RandomForest</label>
            <div id="form-container-RandomForest" class="form-container">
                <form asp-action="RandomForest" method="post">
                    <!-- Formulaire pour RandomForest -->
                    <div>
                        <label for="Param2">n_estimators</label>
                        <p>Le nombre d'arbres de décision dans la forêt</p>
                        <select id="param2" name="Param2">
                            <option value=1000>1000</option>
                            <option value=10>10</option>
                            <option value=500>500</option>
                        </select>

                    </div>



                    <div>
                        <label for="Param3">min_samples_split</label>
                        <p>Le nombre d'arbres de décision dans la forêt</p>
                        <input type="number" name="Param3" id="Param3" value="10" data-default="10">

                        </select>

                    </div>
                    <div>
                        <label for="Param4">max_depth </label>
                        <p>La profondeur maximale de chaque arbre de décision</p>
                        <input type="number" name="Param4" id="Param4" value="10" data-default="10">

                        </select>


                    </div>
                    <div>
                        <label for="Param5">Nombre de plis pour validation croisée</label>
                        <select id="Param5" name="param5">
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                            <option value=10>10</option>
                        </select>

                    </div>
                    <div class="conteneur-bouton">
                        <button type="submit" class="bouton-envoyer">Valider</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="result">
                    @if (ViewBag.Result != null)
                    {
                        <h4>Result:</h4>
                        <pre>@Html.Raw(ViewBag.Result)</pre>
                    }
                </div>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-SVM" name="method" value="SVM" onclick="showForm('SVM')">

            <label for="checkbox-SVM">Méthode SVM</label>
            <div id="form-container-SVM" class="form-container">
                <form asp-action="SVM" method="post">
                    <!-- Formulaire pour SVM -->
                    <div>
                        <label for="Param1">Paramètre de régularisation(C)</label>
                        <p>Il contrôle la trade-off entre la marge maximale et la classification correcte des points d'entraînement</p>
                        <select id="param2" name="param2">
                            <option value="max">Maximum:100</option>
                            <option value="min">Minimum:0,1</option>

                        </select>
                    </div>
                    <div>
                        <label for="Param2">Paramètre du noyau (Kernel)</label>
                        <p>Le noyau à utiliser dans l'algorithme SVM</p>
                        <select id="param2" name="param2">
                            <option value="max">RBF</option>
                            <option value="min">Poly</option>
                            <option value="ideal">Linear</option>
                        </select>

                    </div>
                    <div>
                        <label for="Param3">Coefficient du noyau (Gamma)</label>
                        <p>Il définit jusqu'à quel point l'influence d'un seul exemple d'entraînement s'étend</p>
                        <select id="param2" name="param2">
                            <option value="max">Maximum:10</option>
                            <option value="min">Minimum:0,001</option>
                            <option value="ideal">Default:Scale</option>
                        </select>
                        <div>
                            <label for="Param3">Nombre de plis pour validation croisée</label>
                            <select id="param2" name="param2">
                                <option value="max">Maximum</option>
                                <option value="min">Minimum</option>
                                <option value="ideal">Idéal</option>
                            </select>

                        </div>

                    </div>
                    <div class="conteneur-bouton">
                        <button type="submit" class="bouton-envoyer">Valider</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>

    <!-- Script JavaScript -->
    <script>
        function showForm(methodName) {
            var formContainer = document.getElementById('form-container-' + methodName);
            if (formContainer.style.display === 'block') {
                formContainer.style.display = 'none';
            } else {
                formContainer.style.display = 'block';
            }

            // Assure que le formulaire est affiché en bas de la carte
            window.scrollTo({
                top: formContainer.offsetTop,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>
