<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ma Page Web</title>
<style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://livetechspot.com/wp-content/uploads/2020/07/Complete-Guide-List-on-How-to-Optimize-E-commerce-Website.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black;
            font-family: Arial, sans-serif;
        }
 
        .menu {
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 100%;
        }
 
            .menu ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
 
                .menu ul li {
                    display: inline-block;
                    margin-right: 20px;
                }
 
                    .menu ul li a {
                        color: white;
                        text-decoration: none;
                    }
            h1 {
            font-size: 2em; /* Taille de la police */
            text-align: center; /* Centrage horizontal */
            margin-bottom: 20px; /* Espace sous le titre */
            justify-content: center;
        }
</style>
</head>
<body>
<div class="menu">

</div>
<div class="content">
<h1>BIENVENUE SUR LE LOGICIEL DE GESTION LOGISTIQUE</h1>

</div>

<h1>CHOIX DE LA METHODE D'ANALYSE</h1>
 
    <form>
<select class="form-select" aria-label="Default select example" onchange="location = this.value;">
<option selected disabled>Choix</option>
<option value="@Url.Action("M_analytique", "Methode")">méthode analytique</option>
<option value="@Url.Action("Choix_Methode", "Choix")">méthode machine learning</option>
</select>
</form>


</body>
</html>
