@model Projet_Tech_Pag_Con.Models.ExecutionMethode

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ExecutionMethode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomMethode" class="control-label"></label>
                <input asp-for="NomMethode" class="form-control" />
                <span asp-validation-for="NomMethode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Performance" class="control-label"></label>
                <input asp-for="Performance" class="form-control" />
                <span asp-validation-for="Performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatriceConfusion" class="control-label"></label>
                <input asp-for="MatriceConfusion" class="form-control" />
                <span asp-validation-for="MatriceConfusion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temps_Execution" class="control-label"></label>
                <input asp-for="Temps_Execution" class="form-control" />
                <span asp-validation-for="Temps_Execution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SimulationId" class="control-label"></label>
                <input asp-for="SimulationId" class="form-control" />
                <span asp-validation-for="SimulationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
